body {
    background-color: lightblue;
}
.nav {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float: left
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
ul.nav a:hover {
    background-color: gray;
    color: lightblue;
}
.grid-container {
    display: grid; /*makes this a grid*/
    grid-gap: 10px; /*adds space between grid sections*/
    grid-template-columns: auto auto auto; 
    /*this defines the number of columns in the grid. 3 autos = 3 columns. Auto means it will automatically size 
    for the boxes to be equal.*/
}
.grid-item {
    background-color: lightblue;
    text-align: center;
}
.grid-item-red {
    background-color: lightblue;
    text-align: center;
    color: black;
}

.nav-menu {
    grid-row: 2;
    grid-column: 1 / span 3; /*puts it in a specific grid column and makes it span across all 
    three columns*/
}
.title {
    grid-row: 1;
    grid-column: 1 / span 3;
    text-align: center;
}
.main-img {
    grid-row: 3;
    grid-column: 1 / span 3;
}
.main1 {
    grid-row: 4;
    grid-column: 1 / span 2;
    padding: 30px;
}
.main2 {
    grid-row: 7;
    grid-column: 1 / span 2;
    padding: 30px;
}
.sidecontent {
    grid-column: 3;
    grid-row: 4 / span 4;
    padding: 30px;
}
.support1 {
    grid-column: 1;
    grid-row: 5 / span 2;
    padding: 30px;
}
.support2 {
    grid-column: 2;
    grid-row: 5 / span 2;
    padding: 30px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}